#qna{
    display: none;
}
.qBox{
    background-color: whitesmoke;
    text-align: center;
    border-radius: 20px;
    font-size: 24px;
    width: 80%;
}
.answerList{
    background-color: whitesmoke;
    text-align: center;
    border-radius: 20px;
    font-size: 20px;
    display: block;
    width: 80%;
    border: 0px;
    font-size: 20px;


}

.answerList:hover, .answerList:focus{
    background-color: pink;
    color: whitesmoke;
}

.status{
    
    height: 20px;
    width: 80%;
    background-color: white;
    border-radius: 20px;


}

.statusBar{
    height: 100%;
    border-radius: 20px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff5c5c+0,fe9090+39,fe9090+0,febbbb+100;Red+3D+%231 */
    background: rgb(255,92,92); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,92,92,1) 0%, rgba(254,144,144,1) 39%, rgba(254,144,144,1) 0%, rgba(254,187,187,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,92,92,1) 0%,rgba(254,144,144,1) 39%,rgba(254,144,144,1) 0%,rgba(254,187,187,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,92,92,1) 0%,rgba(254,144,144,1) 39%,rgba(254,144,144,1) 0%,rgba(254,187,187,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5c5c', endColorstr='#febbbb',GradientType=0 ); /* IE6-9 */

}